
.legend-container {
  position: absolute;
  width: 330px;
  max-width: 330px;
  line-height: 10px;
  top: 59px;
  right: 10px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.legend-title {
  font-weight: bold;
  margin:0px 0px 8px 0px;
}

.legend-description {
  display: none;
  font-size: 10px;
  color: grey;
  max-width: 300px;
}

.toggle-description {
  position: absolute;
  font-size: 10px;
  text-decoration: underline;
  top:5px;
  right:5px;
}

.gradient-bar {
  height: 20px;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.legend-labels {
  display: flex;
  justify-content: space-between;
}

.stop-label {
  display: inline-block;
  margin-right: 20px;
  font-size: 12px;
}
